.header {
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
    font-size: 1rem;
    background-color: var(--black-color);
}

.header-name {
    margin-left: 2rem;
    color: var(--blue-color);
}

.nav {
    margin-right: 2rem;
}

.nav-menu {
    display: flex;
    list-style: none;
    column-gap: 1rem;
}

.menu-link {
    color: var(--blue-color);
}

.button-container {
    display: none;
}

.menu-button {
    display: grid;
    place-items: center;
    background-color: transparent;
    border: none;
    transition: all 1s ease-in-out;
}

.menu-icon-active {
    transform: scale(1.2);
    transform: rotate(45deg);
}

.menu-icon {
    width: 24px;
    height: 24px;
}

@media screen and (max-width: 900px) {
    .header-name {
        margin-left: 0.5rem;
        font-size: 1.5rem;
    }

    .nav {
        margin-right: 0.5rem;
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .nav-menu {
        display: none;
        transition: all 1s ease-in-out;
        background-color: var(--black-color);
    }

    .button-container {
        display: block;
    }

    .nav.active > .nav-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding: 1rem;
        position: absolute;
        top: 100%;
        left: 0;
        overflow: hidden;
        gap: 0.5rem;
    }
}
