.header {
    width: 60rem;
    padding: 0.5rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    animation: adjust-header normal both;
    animation-timeline: scroll();
    animation-range: 0rem;
    color: var(--green-color);
    z-index: 999;
}

.logo-image {
    width: 2rem;
    height: 2rem;
}

.nav-menu {
    display: flex;
    list-style: none;
    column-gap: 1rem;
    font-size: 1.2rem;
}

.menu-link {
    text-decoration: none;
    color: var(--green-color);
}

.button-container {
    display: none;
}

.menu-button {
    display: grid;
    place-items: center;
    background-color: transparent;
    border: none;
    transition: all 1s ease-in-out;
}

.menu-icon-active {
    transform: scale(1.2);
    transform: rotate(45deg);
}

.menu-icon {
    width: 24px;
    height: 24px;
}

@keyframes adjust-header {
    to {
        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(3rem);
    }
}

@media screen and (max-width: 900px) {
    .header {
        width: 100%;
    }

    .header-name {
        margin-left: 0.5rem;
        font-size: 1.5rem;
    }

    .nav {
        margin-right: 0.5rem;
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .nav-menu {
        display: none;
        transition: all 1s ease-in-out;
        background-color: #ffffff08;
        backdrop-filter: blur(1rem);
    }

    .button-container {
        display: block;
    }

    .nav.active > .nav-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding: 1rem;
        position: absolute;
        top: 100%;
        left: 0;
        overflow: hidden;
        gap: 0.5rem;
    }
}
