.header {
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: var(--green-color);
    filter: blur(0.5rem);
}

.header-name {
    margin-left: 2rem;
    color: var(--blue-color);
    z-index: 9999;
}

.nav {
    margin-right: 2rem;
}

.nav-menu {
    display: flex;
    list-style: none;
    column-gap: 1rem;
}

.menu-link {
    color: var(--blue-color);
}

@media screen and (max-width:768px) {
    .nav {
        display: none;
    }
}
