.introduction {
    margin: 1rem 0rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    flex-direction: row-reverse;
}

.introduction-presentation {
    font-size: 1.5rem;
    text-align: justify;
    margin-bottom: 1rem;
}

.introduction-container-image {
    display: flex;
}

.introduction-image {
    width: 18.75rem;
    height: 18.75rem;
    border-radius: 50%;
    flex-shrink: 1;
}

@media screen and (max-width: 768px) {
    .introduction-presentation {
        font-size: 1rem;
    }

    .introduction-image {
        width: 12.75rem;
        height: 12.75rem;
    }
}

@media screen and (max-width: 480px) {
    .introduction-presentation {
        font-size: 1.2rem;
    }

    .introduction {
        flex-direction: column;
    }
}
