.introduction {
    margin: 1rem 0rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    flex-direction: row-reverse;
}

.introduction-presentation {
    font-size: 2.1rem;
    text-align: justify;
    margin-bottom: 1rem;
}

.introduction-description {
    font-size: 1.1rem;
    text-align: justify;
}

.introduction-container-image {
    display: flex;
}

.introduction-image {
    width: 18.75rem;
    height: 18.75rem;
    border-radius: 50%;
}
