.projects-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 2rem;
}

.projects-section .project:nth-child(odd) {
    flex-direction: row-reverse;
}

.project {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    gap: 1rem;
}

.project-image-container {
    display: flex;
    max-width: 50rem;
    flex: 1;
}

.project-image {
    width: 100%;
    height: 100%;
    border-radius: 0.4rem;
}

.project-title {
    margin-bottom: 0.5rem;
    color: var(--green-color);
}

.projects-buttons {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

@media screen and (max-width: 768px) {
    .projects-information {
        width: 100%;
    }
}

@media screen and (max-width: 327px) {
    .button-link {
        padding: 0.5rem 1rem;
    }
}
